<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script>
  	$.ajax({
        url:'/users/getUserInfo',
        type:"GET",
        dataType:"json",
        async: true,
        data:{
            id:2
        },
        success:function(data){
			// console.log(data);        
        }
    })
    $.ajax({
        url:'/users/getTest',
        type:"POST",
        dataType:"json",
        async: true,
        data:{
            id:1
        },
        success:function(data){
			console.log(data.data.age);        
        }
    })
    $.ajax({
        url:'/users/getInter',
        type:"POST",
        dataType:"json",
        async: true,
        data:{
            // id:1
        },
        success:function(data){
			// console.log(data.data.age);        
        }
    })
  </script>
</html>
